# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Backend
*.env
/node_modules/
src/assets/eventImages/✨🏸AMSSocialBadminton🏸✨_14_Mar_2026.jpg
src/assets/eventImages/🏐🏸Sportsathon2026🏸🏐_09_May_2026.jpg
src/assets/eventImages/Afro-Learn_GamesNight_18_Mar_2026.jpg
src/assets/eventImages/Afro-Learn_LinkedInandResumeBuilding_01_Apr_2026.jpg
src/assets/eventImages/Allied-HealthNetworkingNight_28_Apr_2026.jpg
src/assets/eventImages/AMSxMCSPasarMalam_17_Apr_2026.jpg
src/assets/eventImages/AMSxPPIAMalindoNight_22_May_2026.jpg
src/assets/eventImages/BSCQuizNightSemester2_29_Aug_2025.jpg
src/assets/eventImages/BSCSemester1Sundowner_19_Feb_2026.jpg
src/assets/eventImages/CAASausageSizzle_04_May_2022.jpg
src/assets/eventImages/CAHCXHeadspaceFriendshipYoga_13_Oct_2025.jpg
src/assets/eventImages/CSAQuizNight_28_Apr_2026.jpg
src/assets/eventImages/CSAStudySession_25_May_2026.jpg
src/assets/eventImages/CurtinCrochetClubWeeklyMeetup_07_Aug_2024.jpg
src/assets/eventImages/CurtinCrochetClubWeeklyMeetup_14_Aug_2024.jpg
src/assets/eventImages/CurtinCrochetClubWeeklyMeetup_21_Aug_2024.jpg
src/assets/eventImages/FindingtheFacts-aBSCQuizNight_12_Mar_2026.jpg
src/assets/eventImages/JomMain!AMSGamesNight_24_Apr_2026.jpg
src/assets/eventImages/Ke-ZemestaBlockParty_01_May_2026.jpg
src/assets/eventImages/LinkUpLive_15_Apr_2026.jpg
src/assets/eventImages/MindfulPaintingwithHeadspaceXCPSXCAHC_21_Oct_2025.jpg
src/assets/eventImages/MoonlightMirage_TheCASABoatCruise_08_Nov_2025.jpg
src/assets/eventImages/NetworkingNight2025_18_Sep_2025.jpg
src/assets/eventImages/Paint&Chill_BoardGames&Painting_18_May_2026.jpg
src/assets/eventImages/PizzawithPwC_22_Aug_2022.jpg
src/assets/eventImages/PubCrawl_Villains_15_May_2026.jpg
src/assets/eventImages/SlimeDay_02_Apr_2026.jpg
src/assets/eventImages/SpeedInterview_13_Apr_2022.jpg
src/assets/eventImages/SpeedInterviews_12_May_2023.jpg
src/assets/eventImages/SpeedNetworkingEvent_29_Sep_2022.jpg
src/assets/eventImages/SportsathonPop-up_29_Apr_2026.jpg
src/assets/clubs/banners/AcuteCareandAnaestheticsSocietyCurtin_Banner.jpg
src/assets/clubs/banners/AIPSSAChapterCurtinUniversity_Banner.jpg
src/assets/clubs/banners/AssociationofChemicalEngineeringStudents(ACES)Curtin_Banner.jpg
src/assets/clubs/banners/AssociationofMalaysianStudentsCurtin_Banner.jpg
src/assets/clubs/banners/BiomedicalScienceClubCurtin_Banner.jpg
src/assets/clubs/banners/CurtinAfricanStudentsAssociation_Banner.jpg
src/assets/clubs/banners/CurtinAgricultureAssociation_Banner.jpg
src/assets/clubs/banners/CurtinAlliedHealthClub_Banner.jpg
src/assets/clubs/banners/CurtinAnimationClub_Banner.jpg
src/assets/clubs/banners/CurtinArabicLanguageClub_Banner.jpg
src/assets/clubs/banners/CurtinArchitectureStudentsAssociation(CASA)_Banner.jpg
src/assets/clubs/banners/CurtinAssociationofMedicalStudents_Banner.jpg
src/assets/clubs/banners/CurtinBoulderingClub_Banner.jpg
src/assets/clubs/banners/CurtinBubbleTeaSociety_Banner.jpg
src/assets/clubs/banners/CurtinBusiness&CommerceAssociation_Banner.jpg
src/assets/clubs/banners/CurtinCardGames(CCG)_Banner.jpg
src/assets/clubs/banners/CurtinCatholicSociety_Banner.jpg
src/assets/clubs/banners/CurtinChemistryClub_Banner.jpg
src/assets/clubs/banners/CurtinChessClub_Banner.jpg
src/assets/clubs/banners/CurtinChineseStudentsandScholarsAssociation_Banner.jpg
src/assets/clubs/banners/CurtinChristianUnion_Banner.jpg
src/assets/clubs/banners/CurtinCivilEngineeringAssociation_Banner.jpg
src/assets/clubs/banners/CurtinClubRad_Banner.jpg
src/assets/clubs/banners/CurtinComputerScienceStudentsAssociation(ComSSA)_Banner.jpg
src/assets/clubs/banners/CurtinConsultingGroup(CCG)_Banner.jpg
src/assets/clubs/banners/CurtinCrochetClub_Banner.jpg
src/assets/clubs/banners/CurtinCyberSecurityClub_Banner.jpg
src/assets/clubs/banners/CurtinDataScienceAssociation_Banner.jpg
src/assets/clubs/banners/CurtinDesignClub_Banner.jpg
src/assets/clubs/banners/CurtinDivers_Banner.jpg
src/assets/clubs/banners/CurtinEducationStudents'Society_Banner.jpg
src/assets/clubs/banners/CurtinEngineersClub(CEC)_Banner.jpg
src/assets/clubs/banners/CurtinEngineersWithoutBorders_Banner.jpg
src/assets/clubs/banners/CurtinFashionSociety_Banner.jpg
src/assets/clubs/banners/CurtinFilipinoStudents’Society(CFSS)_Banner.jpg
src/assets/clubs/banners/CurtinFilmSociety_Banner.jpg
src/assets/clubs/banners/CurtinFinanceSociety_Banner.jpg
src/assets/clubs/banners/CurtinFreeFoodSociety_Banner.jpg
src/assets/clubs/banners/CurtinGameDevelopmentClub_Banner.jpg
src/assets/clubs/banners/CurtinGamesandEsports_Banner.jpg
src/assets/clubs/banners/CurtinGeoscientistsandEngineersClub_Banner.jpg
src/assets/clubs/banners/CurtinGoodDeedsSociety_Banner.jpg
src/assets/clubs/banners/CurtinHinduClub_Banner.jpg
src/assets/clubs/banners/CurtinHongKongSociety_Banner.jpg
src/assets/clubs/banners/CurtinHumanResourcesStudentAssociationofWesternAustralia_Banner.jpg
src/assets/clubs/banners/CurtinIllustrationClub_Banner.jpg
src/assets/clubs/banners/CurtinInformationSystemsSociety_Banner.jpg
src/assets/clubs/banners/CurtinInternationalRelationsSociety_Banner.jpg
src/assets/clubs/banners/CurtinJapaneseClub_Banner.jpg
src/assets/clubs/banners/CurtinKeralaCulture&CommunityClub_Banner.jpg
src/assets/clubs/banners/CurtinMarketingAssociation(CMA)_Banner.jpg
src/assets/clubs/banners/CurtinMechanicalSociety_Banner.jpg
src/assets/clubs/banners/CurtinMiddleEasternNorthAfricanClub(MENA)_Banner.jpg
src/assets/clubs/banners/CurtinMixologySociety_Banner.jpg
src/assets/clubs/banners/CurtinMusiciansClub_Banner.jpg
src/assets/clubs/banners/CurtinMuslimStudentAssociation(CMSA)_Banner.jpg
src/assets/clubs/banners/CurtinPhotographyClub_Banner.jpg
src/assets/clubs/banners/CurtinPhysicsClub_Banner.jpg
src/assets/clubs/banners/CurtinPodcastSociety_Banner.jpg
src/assets/clubs/banners/CurtinPopCultureClub(CPCC)_Banner.jpg
src/assets/clubs/banners/CurtinPsychologySociety_Banner.jpg
src/assets/clubs/banners/CurtinQuantSociety_Banner.jpg
src/assets/clubs/banners/CurtinRoboticsClub_Banner.jpg
src/assets/clubs/banners/CurtinRuralOutreachHealthClub(CROHC)_Banner.jpg
src/assets/clubs/banners/CurtinSingaporeSociety_Banner.jpg
src/assets/clubs/banners/CurtinSingers_Banner.jpg
src/assets/clubs/banners/CurtinSocialSoccerClub_Banner.jpg
src/assets/clubs/banners/CurtinSocietyofMechatronicEngineers_Banner.jpg
src/assets/clubs/banners/CurtinSpeechPathologySociety_Banner.jpg
src/assets/clubs/banners/CurtinStudentActuarialSociety_Banner.jpg
src/assets/clubs/banners/CurtinStudentHousingSociety_Banner.jpg
src/assets/clubs/banners/CurtinStudentLaborSociety_Banner.jpg
src/assets/clubs/banners/CurtinStudentLawSociety_Banner.jpg
src/assets/clubs/banners/CurtinSupplyChainStudentsClub_Banner.jpg
src/assets/clubs/banners/CurtinSurgicalStudents'Association_Banner.jpg
src/assets/clubs/banners/CurtinTabletop(CT)_Banner.jpg
src/assets/clubs/banners/CurtinTaxSociety_Banner.jpg
src/assets/clubs/banners/CurtinThaiSociety_Banner.jpg
src/assets/clubs/banners/CurtinUniversityGreens(WA)Club_Banner.jpg
src/assets/clubs/banners/CurtinWritersClub_Banner.jpg
src/assets/clubs/banners/GeneralPracticeStudentsNetworkCurtin_Banner.jpg
src/assets/clubs/banners/GeologicalSocietyofCurtinUniversity_Banner.jpg
src/assets/clubs/banners/IEEECurtinUniversityStudentBranch_Banner.jpg
src/assets/clubs/banners/KaraokeSocietyCurtin_Banner.jpg
src/assets/clubs/banners/NgalangCurtinMoortClub_Banner.jpg
src/assets/clubs/banners/Nursing,ParamedicineandOralHealthStudentSocietyCurtin_Banner.jpg
src/assets/clubs/banners/NutritionandDieteticsStudentAssociationCurtin_Banner.jpg
src/assets/clubs/banners/PerhimpunanPelajarIndonesiansinAustraliaCurtin(PPIA)_Banner.jpg
src/assets/clubs/banners/SikhVoiceAssociationofCurtin_Banner.jpg
src/assets/clubs/banners/SocialistAlternativeCurtin_Banner.jpg
src/assets/clubs/banners/SouthAsianClubCurtin_Banner.jpg
src/assets/clubs/banners/StudentsforPalestineCurtinClub_Banner.jpg
src/assets/clubs/banners/SustainableCollectiveatCurtinClub_Banner.jpg
src/assets/clubs/banners/TheElectronicMusicAppreciationSocietyofCurtinUniversity_Banner.jpg
src/assets/clubs/banners/VietnameseStudentsAssociationatCurtin_Banner.jpg
src/assets/clubs/banners/WASMWallabiesMiningClub_Banner.jpg
src/assets/clubs/banners/WesternAustralianPharmacyStudents'Association(WAPSA)Curtin_Banner.jpg
src/assets/clubs/banners/WesternAustralianSpatialScienceStudentAssociationCurtin_Banner.jpg
src/assets/clubs/banners/WomeninBusinessCurtinUniversity_Banner.jpg
src/assets/clubs/banners/WomeninEngineeringCurtinDivision(WiECD)_Banner.jpg
src/assets/clubs/banners/WomeninMiningandResources-Curtin_Banner.jpg
src/assets/clubs/logos/AcuteCareandAnaestheticsSocietyCurtin_Logo.jpg
src/assets/clubs/logos/AIPSSAChapterCurtinUniversity_Logo.jpg
src/assets/clubs/logos/AssociationofChemicalEngineeringStudents(ACES)Curtin_Logo.jpg
src/assets/clubs/logos/AssociationofMalaysianStudentsCurtin_Logo.jpg
src/assets/clubs/logos/BiomedicalScienceClubCurtin_Logo.jpg
src/assets/clubs/logos/CurtinAfricanStudentsAssociation_Logo.jpg
src/assets/clubs/logos/CurtinAgricultureAssociation_Logo.jpg
src/assets/clubs/logos/CurtinAlliedHealthClub_Logo.jpg
src/assets/clubs/logos/CurtinAnimationClub_Logo.jpg
src/assets/clubs/logos/CurtinArabicLanguageClub_Logo.jpg
src/assets/clubs/logos/CurtinArchitectureStudentsAssociation(CASA)_Logo.jpg
src/assets/clubs/logos/CurtinAssociationofMedicalStudents_Logo.jpg
src/assets/clubs/logos/CurtinBoulderingClub_Logo.jpg
src/assets/clubs/logos/CurtinBubbleTeaSociety_Logo.jpg
src/assets/clubs/logos/CurtinBusiness&CommerceAssociation_Logo.jpg
src/assets/clubs/logos/CurtinCardGames(CCG)_Logo.jpg
src/assets/clubs/logos/CurtinCatholicSociety_Logo.jpg
src/assets/clubs/logos/CurtinChemistryClub_Logo.jpg
src/assets/clubs/logos/CurtinChessClub_Logo.jpg
src/assets/clubs/logos/CurtinChineseStudentsandScholarsAssociation_Logo.jpg
src/assets/clubs/logos/CurtinChristianUnion_Logo.jpg
src/assets/clubs/logos/CurtinCivilEngineeringAssociation_Logo.jpg
src/assets/clubs/logos/CurtinClubRad_Logo.jpg
src/assets/clubs/logos/CurtinComputerScienceStudentsAssociation(ComSSA)_Logo.jpg
src/assets/clubs/logos/CurtinConsultingGroup(CCG)_Logo.jpg
src/assets/clubs/logos/CurtinCrochetClub_Logo.jpg
src/assets/clubs/logos/CurtinCyberSecurityClub_Logo.jpg
src/assets/clubs/logos/CurtinDataScienceAssociation_Logo.jpg
src/assets/clubs/logos/CurtinDesignClub_Logo.jpg
src/assets/clubs/logos/CurtinDivers_Logo.jpg
src/assets/clubs/logos/CurtinEducationStudents'Society_Logo.jpg
src/assets/clubs/logos/CurtinEnergySociety_Logo.jpg
src/assets/clubs/logos/CurtinEngineersClub(CEC)_Logo.jpg
src/assets/clubs/logos/CurtinEngineersWithoutBorders_Logo.jpg
src/assets/clubs/logos/CurtinFashionSociety_Logo.jpg
src/assets/clubs/logos/CurtinFilipinoStudents’Society(CFSS)_Logo.jpg
src/assets/clubs/logos/CurtinFilmSociety_Logo.jpg
src/assets/clubs/logos/CurtinFinanceSociety_Logo.jpg
src/assets/clubs/logos/CurtinFreeFoodSociety_Logo.jpg
src/assets/clubs/logos/CurtinGameDevelopmentClub_Logo.jpg
src/assets/clubs/logos/CurtinGamesandEsports_Logo.jpg
src/assets/clubs/logos/CurtinGeoscientistsandEngineersClub_Logo.jpg
src/assets/clubs/logos/CurtinGoodDeedsSociety_Logo.jpg
src/assets/clubs/logos/CurtinHinduClub_Logo.jpg
src/assets/clubs/logos/CurtinHongKongSociety_Logo.jpg
src/assets/clubs/logos/CurtinHumanResourcesStudentAssociationofWesternAustralia_Logo.jpg
src/assets/clubs/logos/CurtinIllustrationClub_Logo.jpg
src/assets/clubs/logos/CurtinInformationSystemsSociety_Logo.jpg
src/assets/clubs/logos/CurtinInternationalRelationsSociety_Logo.jpg
src/assets/clubs/logos/CurtinJapaneseClub_Logo.jpg
src/assets/clubs/logos/CurtinKeralaCulture&CommunityClub_Logo.jpg
src/assets/clubs/logos/CurtinLiberalSociety_Logo.jpg
src/assets/clubs/logos/CurtinMarketingAssociation(CMA)_Logo.jpg
src/assets/clubs/logos/CurtinMechanicalSociety_Logo.jpg
src/assets/clubs/logos/CurtinMiddleEasternNorthAfricanClub(MENA)_Logo.jpg
src/assets/clubs/logos/CurtinMixologySociety_Logo.jpg
src/assets/clubs/logos/CurtinMusiciansClub_Logo.jpg
src/assets/clubs/logos/CurtinMuslimStudentAssociation(CMSA)_Logo.jpg
src/assets/clubs/logos/CurtinPhotographyClub_Logo.jpg
src/assets/clubs/logos/CurtinPhysicsClub_Logo.jpg
src/assets/clubs/logos/CurtinPodcastSociety_Logo.jpg
src/assets/clubs/logos/CurtinPopCultureClub(CPCC)_Logo.jpg
src/assets/clubs/logos/CurtinPsychologySociety_Logo.jpg
src/assets/clubs/logos/CurtinQuantSociety_Logo.jpg
src/assets/clubs/logos/CurtinRoboticsClub_Logo.jpg
src/assets/clubs/logos/CurtinRuralOutreachHealthClub(CROHC)_Logo.jpg
src/assets/clubs/logos/CurtinSingaporeSociety_Logo.jpg
src/assets/clubs/logos/CurtinSingers_Logo.jpg
src/assets/clubs/logos/CurtinSocialSoccerClub_Logo.jpg
src/assets/clubs/logos/CurtinSocietyofEasternEurope_Logo.jpg
src/assets/clubs/logos/CurtinSocietyofMechatronicEngineers_Logo.jpg
src/assets/clubs/logos/CurtinSpeechPathologySociety_Logo.jpg
src/assets/clubs/logos/CurtinStudentActuarialSociety_Logo.jpg
src/assets/clubs/logos/CurtinStudentHousingSociety_Logo.jpg
src/assets/clubs/logos/CurtinStudentLaborSociety_Logo.jpg
src/assets/clubs/logos/CurtinStudentLawSociety_Logo.jpg
src/assets/clubs/logos/CurtinSupplyChainStudentsClub_Logo.jpg
src/assets/clubs/logos/CurtinSurgicalStudents'Association_Logo.jpg
src/assets/clubs/logos/CurtinTabletop(CT)_Logo.jpg
src/assets/clubs/logos/CurtinTaxSociety_Logo.jpg
src/assets/clubs/logos/CurtinThaiSociety_Logo.jpg
src/assets/clubs/logos/CurtinUniversityGreens(WA)Club_Logo.jpg
src/assets/clubs/logos/CurtinWritersClub_Logo.jpg
src/assets/clubs/logos/GeneralPracticeStudentsNetworkCurtin_Logo.jpg
src/assets/clubs/logos/GeologicalSocietyofCurtinUniversity_Logo.jpg
src/assets/clubs/logos/IEEECurtinUniversityStudentBranch_Logo.jpg
src/assets/clubs/logos/KaraokeSocietyCurtin_Logo.jpg
src/assets/clubs/logos/NgalangCurtinMoortClub_Logo.jpg
src/assets/clubs/logos/Nursing,ParamedicineandOralHealthStudentSocietyCurtin_Logo.jpg
src/assets/clubs/logos/NutritionandDieteticsStudentAssociationCurtin_Logo.jpg
src/assets/clubs/logos/PerhimpunanPelajarIndonesiansinAustraliaCurtin(PPIA)_Logo.jpg
src/assets/clubs/logos/SikhVoiceAssociationofCurtin_Logo.jpg
src/assets/clubs/logos/SocialistAlternativeCurtin_Logo.jpg
src/assets/clubs/logos/SouthAsianClubCurtin_Logo.jpg
src/assets/clubs/logos/StudentsforPalestineCurtinClub_Logo.jpg
src/assets/clubs/logos/SustainableCollectiveatCurtinClub_Logo.jpg
src/assets/clubs/logos/TheElectronicMusicAppreciationSocietyofCurtinUniversity_Logo.jpg
src/assets/clubs/logos/VietnameseStudentsAssociationatCurtin_Logo.jpg
src/assets/clubs/logos/WASMMinesRescueClub_Logo.jpg
src/assets/clubs/logos/WASMWallabiesMiningClub_Logo.jpg
src/assets/clubs/logos/WASMWombatsMiningClub_Logo.jpg
src/assets/clubs/logos/WesternAustralianPharmacyStudents'Association(WAPSA)Curtin_Logo.jpg
src/assets/clubs/logos/WesternAustralianSpatialScienceStudentAssociationCurtin_Logo.jpg
src/assets/clubs/logos/WomeninBusinessCurtinUniversity_Logo.jpg
src/assets/clubs/logos/WomeninEngineeringCurtinDivision(WiECD)_Logo.jpg
src/assets/clubs/logos/WomeninMiningandResources-Curtin_Logo.jpg
backend/automation/clubs.csv
src/assets/clubs/banners/CurtinEnergySociety_Banner.jpg
src/assets/clubs/banners/WesternAustraliaPhysiotherapyStudents'SocietyCurtin_Banner.jpg
src/assets/clubs/logos/WesternAustraliaPhysiotherapyStudents'SocietyCurtin_Logo.jpg
