# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# Backend
*.env
/node_modules/
src/assets/eventImages/✨🏸AMSSocialBadminton🏸✨_14_Mar_2026.jpg
src/assets/eventImages/🏐🏸Sportsathon2026🏸🏐_09_May_2026.jpg
src/assets/eventImages/Afro-Learn_GamesNight_18_Mar_2026.jpg
src/assets/eventImages/Afro-Learn_LinkedInandResumeBuilding_01_Apr_2026.jpg
src/assets/eventImages/Allied-HealthNetworkingNight_28_Apr_2026.jpg
src/assets/eventImages/AMSxMCSPasarMalam_17_Apr_2026.jpg
src/assets/eventImages/AMSxPPIAMalindoNight_22_May_2026.jpg
src/assets/eventImages/BSCQuizNightSemester2_29_Aug_2025.jpg
src/assets/eventImages/BSCSemester1Sundowner_19_Feb_2026.jpg
src/assets/eventImages/CAASausageSizzle_04_May_2022.jpg
src/assets/eventImages/CAHCXHeadspaceFriendshipYoga_13_Oct_2025.jpg
src/assets/eventImages/CSAQuizNight_28_Apr_2026.jpg
src/assets/eventImages/CSAStudySession_25_May_2026.jpg
src/assets/eventImages/CurtinCrochetClubWeeklyMeetup_07_Aug_2024.jpg
src/assets/eventImages/CurtinCrochetClubWeeklyMeetup_14_Aug_2024.jpg
src/assets/eventImages/CurtinCrochetClubWeeklyMeetup_21_Aug_2024.jpg
src/assets/eventImages/FindingtheFacts-aBSCQuizNight_12_Mar_2026.jpg
src/assets/eventImages/JomMain!AMSGamesNight_24_Apr_2026.jpg
src/assets/eventImages/Ke-ZemestaBlockParty_01_May_2026.jpg
src/assets/eventImages/LinkUpLive_15_Apr_2026.jpg
src/assets/eventImages/MindfulPaintingwithHeadspaceXCPSXCAHC_21_Oct_2025.jpg
src/assets/eventImages/MoonlightMirage_TheCASABoatCruise_08_Nov_2025.jpg
src/assets/eventImages/NetworkingNight2025_18_Sep_2025.jpg
src/assets/eventImages/Paint&Chill_BoardGames&Painting_18_May_2026.jpg
src/assets/eventImages/PizzawithPwC_22_Aug_2022.jpg
src/assets/eventImages/PubCrawl_Villains_15_May_2026.jpg
src/assets/eventImages/SlimeDay_02_Apr_2026.jpg
src/assets/eventImages/SpeedInterview_13_Apr_2022.jpg
src/assets/eventImages/SpeedInterviews_12_May_2023.jpg
src/assets/eventImages/SpeedNetworkingEvent_29_Sep_2022.jpg
src/assets/eventImages/SportsathonPop-up_29_Apr_2026.jpg
