*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: AtkinsonHyperLegible;
}

:root {
  --ca-brand-blue-1: #273f52;
  --ca-brand-blue-2: #80a8c2;

  --ca-brand-grey-1: #383d3d;
  --ca-brand-grey-2: #5e6565;
  --ca-brand-grey-3: #979b9e;

  --ca-text-light-1: #050414;
  --ca-text-light-2: #414141;
  --ca-text-dark-1: #efefef;
  --ca-text-dark-2: #d0d0d0;
  --ca-text-blue-light: #273f52;
  --ca-text-blue-dark: #80a8c2;

  --ca-bg-light-1: #fbfbfe;
  --ca-bg-light-2: #ededed;
  --ca-bg-dark-1: #1c1b22;
  --ca-bg-dark-2: #2b2a33;
  --ca-bg-blue-1: #273f52;
  --ca-bg-blue-2: #80a8c2;

  --ca-tag-buslaw: #7e2057;
  --ca-tag-health: #cc7a9e;
  --ca-tag-humani: #d7425b;
  --ca-tag-scieng: #3d5a94;
  --ca-tag-specin: #26a699;
  --ca-tag-politi: #70ad71;
  --ca-tag-faithb: #b6bb26;
  --ca-tag-intern: #bf831c;
  --ca-tag-academ: #ffa3a3;
  --ca-tag-party-: #baa1d3;
  --ca-tag-sport-: #a1c8ed;
  --ca-tag-relaxi: #baf0ee;
  --ca-tag-trivia: #a8e67f;
  --ca-tag-networ: #e8e48e;
  --ca-tag-profes: #f2bb8e;
  --ca-tag-18plus: #c94646;
  --ca-tag-genmet: #615e5e;

  --font-base: 'AtkinsonHyperLegible', sans-serif;

  text-decoration: none;
}

:root {
  --color-background-1: var(--ca-bg-light-1);
  --color-background-2: var(--ca-bg-light-2);
  --color-shadow: var(--ca-brand-grey-3);

  --color-heading: var(--ca-text-light-1);
  --color-text-1: var(--ca-text-light-1);
  --color-text-2: var(--ca-text-light-2);
  --color-brandText: var(--ca-text-blue-light);
  --color-text-invert: var(var(--ca-text-dark-1))
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-1: var(--ca-bg-dark-1);
    --color-background-2: var(--ca-bg-dark-2);
    --color-shadow: var(--ca-bg-dark-2);

    --color-heading: var(--ca-text-dark-1);
    --color-text-1: var(--ca-text-dark-1);
    --color-text-2: var(--ca-text-dark-2);
    --color-brandText: var(--ca-text-blue-dark);
    --color-text-invert: var(var(--ca-text-light-1))
  }
}

@font-face {
  font-family: AtkinsonHyperLegible;
  src: url(../fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  background-color: var(--color-background-1);
}

hr {
  color: var(--ca-brand-blue-2);
  margin: 0px;
}

p {
  color: var(--color-text-1);
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px var(--color-shadow);
  background-color: var(--color-background-1);
  position: sticky;
  top: 0;
  z-index: 100;
  color: var(--color-text-1);
  padding: 16px 0;
}

.header.clubHeader{
  justify-content: space-between;
  padding: 16px 8px;
}

.header h1 {
  font-weight: 300;
}

.logo {
  height: 32px;
  margin: 0px 8px;
}


.icon {
  width: 32px;
  height: 32px;
  color: var(--colour-text-1);
}

.title {
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: var(--color-text-1);
  font-weight: 300;
}

.formField {
  font-weight: 300;
  background-color: var(--color-background-1);
  color: var(--color-text-1);
  border: 1px solid var(--ca-brand-blue-2);
  border-radius: 16px;
  padding: 8px;
  width: 100%;
  accent-color: var(--ca-brand-blue-2);
}

.checkboxCustom {
  border-radius: 32px;
  border: 2px;
  cursor: pointer;
  /* border-color: var(--ca-brand-grey-1);
  background-color: var(--ca--grey-3); */
  accent-color: var(--ca-brand-blue-2);
}


